---
http_interactions:
  - request:
      method: post
      uri: https://auth.paybyphoneapis.com/token
      body:
        encoding: US-ASCII
        string: grant_type=password&username=fake_username&password=fake_password&client_id=paybyphone_web
      headers:
        X-Pbp-Clienttype:
          - WebApp
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Request-Start:
          - "1676649529.128"
        X-Upstream-Response-Time:
          - "-"
        X-Request-Time:
          - "0.274"
        X-Time-Iso:
          - "2023-02-17T15:58:49+00:00"
      body:
        encoding: UTF-8
        string: '{"access_token":"an_access_token","expires_in":1200,"refresh_token":"a_refresh_token","scope":"paybyphone","token_type":"Bearer"}'
    recorded_at: Fri, 17 Feb 2023 15:58:49 GMT
[...]
  - request:
      method: get
      uri: https://consumer.paybyphoneapis.com/payment/v3/accounts
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer an_access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"items":[{"id":"fake_payment_method_id","maskedCardNumber":"111111------2021","paymentCardType":"MasterCard","nameOnCard":"NA","expiryMonth":9,"expiryYear":2025,"startMonth":null,"startYear":null,"issueNumber":null,"billingAddress":{"zipCode":""},"consent":{"consentType":"OnGoing","consentGivenDate":"2023-01-31T08:44:13.090699"},"corporateClientId":null,"scope":"Private"},{"id":"fake_payment_method_id","maskedCardNumber":"111111------2358","paymentCardType":"Visa","nameOnCard":"NA","expiryMonth":11,"expiryYear":2027,"startMonth":null,"startYear":null,"issueNumber":null,"billingAddress":{"zipCode":""},"consent":{"consentType":"OnGoing","consentGivenDate":"2022-11-23T11:27:35.640304"},"corporateClientId":null,"scope":"Private"},{"id":"fake_payment_method_id","maskedCardNumber":"111111------4436","paymentCardType":"Visa","nameOnCard":"NA","ex[...]
