---
http_interactions:
  - request:
      method: post
      uri: https://auth.paybyphoneapis.com/token
      body:
        encoding: US-ASCII
        string: grant_type=password&username=fake_username&password=fake_password&client_id=paybyphone_web
      headers:
        X-Pbp-Clienttype:
          - WebApp
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Request-Start:
          - "1676647920.269"
        X-Upstream-Response-Time:
          - "-"
        X-Request-Time:
          - "0.163"
        X-Time-Iso:
          - "2023-02-17T15:32:00+00:00"
      body:
        encoding: UTF-8
        string: '{"access_token":"fake_token","expires_in":1200,"refresh_token":"1rr7KzbZOKPqWSaST2QJg5isQYZpZLSPrQ0ZhdlpoBe","scope":"paybyphone","token_type":"Bearer"}'
    recorded_at: Fri, 17 Feb 2023 15:32:00 GMT
[...]
  - request:
      method: get
      uri: https://consumer.paybyphoneapis.com/identity/profileservice/v1/members/vehicles/paybyphone
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer fake_token
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Request-Start:
          - "1676647921.469"
        X-Upstream-Response-Time:
          - "-"
        X-Request-Time:
          - "0.052"
        X-Time-Iso:
          - "2023-02-17T15:32:01+00:00"
      body:
        encoding: UTF-8
        string: '[{"vehicleId":"fake_vehicle_id","legacyVehicleId":11111111,"licensePlate":"license_plate","country":"FR","type":"Car"}]'
    recorded_at: Fri, 17 Feb 2023 15:32:01 GMT
recorded_with: VCR 6.1.0
